.card {
  background: var(--background);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 40rem;
  position: relative;
  border-radius: 2rem;
  padding: 1em;
  &__title {
    font-size: 2rem;
    color: var(--headline);
    margin-bottom: 0.6em;
    font-weight: 500;
  }
  &__content {
    font-size: 1.4rem;
    color: #333;
    font-weight: 300;
    line-height: 1.8;
  }
  &__btns {
    display: flex;
    justify-content: flex-end;
  }

  &__edit,
  &__delete {
    border: none;
    background: none;
    color: #777;
  }
}
